@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.tweet {
    animation: fade 0.5s ease-in;
    @for $i from 2 through 30 {
        &:nth-child(#{$i}) {
            animation-delay: 0.1s * ($i - 1);
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
